In [46]:
import copy
a1={'姓名':'賴宏瑋','性別':'男','作業分數':[95,100,90]}
a2={'學號':'M1129020'}
a3={**a1,**a2}
a4=copy.deepcopy(a3)
a3['作業分數'][1]=80
a4['姓名']='許珈綺'
a4['性別']='女'
a4['學號']='M1229001'
b3=a3.pop('作業分數')
b3=sum(b3)/len(b3)
print(b3)
print(a3)
b4=a4.pop('作業分數')
b4=sum(b4)/len(b4)
print(b4)
print(a4)

88.33333333333333
{'姓名': '賴宏瑋', '性別': '男', '學號': 'M1129020'}
95.0
{'姓名': '許珈綺', '性別': '女', '學號': 'M1229001'}

In [45]:
T=[100,50,45,60,90,95,85,50]
T.insert(0,88)
T[2:5]=[70,50]
T.remove(50)
X=T.pop()
Y=T.pop(0)

print((X+Y)/2)

69.0

In [44]:
A=347//3
B=347%3
C=A**B

print(C)

13225